## 處理遺漏值

In [3]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [4]:
# 檢查是否為空值
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [6]:
# 欄位的空值數量
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

### 刪除遺漏值

In [10]:
# 將後兩筆 1 2 刪除了
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [15]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [17]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [18]:
# only drop rows where all columns are NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [19]:
# drop rows that have not at least 4 non-NaN values
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [20]:
# only drop rows where NaN appear in specific columns (here: 'C')
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

### Impot (補值)

In [23]:
from sklearn.preprocessing import Imputer
# 補 行 的平均 ; strategy='mean'or'median'or'most_frequen'
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [ 10. ,  11. ,  12. ,   6. ]])

In [14]:

df.values

array([[  1.,   2.,   3.,   4.],
       [  5.,   6.,  nan,   8.],
       [ 10.,  11.,  12.,  nan]])

### 處理分類數據

In [15]:
import pandas as pd

df = pd.DataFrame([['green', 'M', 10.1, 'class1'],
                   ['red', 'L', 13.5, 'class2'],
                   ['blue', 'XL', 15.3, 'class1']])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

# 有序特徵 ex:size , XL＞L＞M  
# 名目特徵 ex:color

### 對應有序特徵

In [16]:
size_mapping = {'XL': 3,
                'L': 2,
                'M': 1}

df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [18]:
# 反向對應
inv_size_mapping = {v: k for k, v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0     M
1     L
2    XL
Name: size, dtype: object

### 將類別標籤　轉成　整數值

In [32]:
df['classlabel']

0    class1
1    class2
2    class1
Name: classlabel, dtype: object

In [33]:
np.unique(df['classlabel'])

array(['class1', 'class2'], dtype=object)

In [31]:
# scikit-learn 大多會自動轉
import numpy as np

class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

In [29]:
#內建函數 (function) enumerate() ，回傳以參數 (parameter) iterable 與連續整數配對的 enumerate 物件， start 為整數的起始值，預設為 0 
d = ['Spring', 'Summer', 'Fall', 'Winter']
for i, j in enumerate(d, 1):
    print(i, j)

1 Spring
2 Summer
3 Fall
4 Winter

In [34]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

In [35]:

inv_class_mapping = {v: k for k, v in class_mapping.items()}
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [37]:
# 其實直接用 scikit LabelEncoder 比較快

from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 0], dtype=int64)

In [20]:
class_le.inverse_transform(y)

array(['class1', 'class2', 'class1'], dtype=object)

### 對名目特徵做　one-hot encoding

In [39]:
X = df[['color', 'size', 'price']].values
X

array([['green', 1, 10.1],
       ['red', 2, 13.5],
       ['blue', 3, 15.3]], dtype=object)

In [40]:

color_le = LabelEncoder()
X[:, 0] = color_le.fit_transform(X[:, 0])
X

array([[1, 1, 10.1],
       [2, 2, 13.5],
       [0, 3, 15.3]], dtype=object)

In [41]:

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(categorical_features=[0])
ohe.fit_transform(X).toarray()

array([[  0. ,   1. ,   0. ,   1. ,  10.1],
       [  0. ,   0. ,   1. ,   2. ,  13.5],
       [  1. ,   0. ,   0. ,   3. ,  15.3]])

In [42]:
pd.get_dummies(df[['price', 'color', 'size']])

   price  size  color_blue  color_green  color_red
0   10.1     1           0            1          0
1   13.5     2           0            0          1
2   15.3     3           1            0          0

# 將數據集分成訓練集和測試集

In [43]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                      'ml/machine-learning-databases/wine/wine.data',
                      header=None)

df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']

print('Class labels', np.unique(df_wine['Class label']))
df_wine.head()

Class labels [1 2 3]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [44]:
from sklearn.model_selection import train_test_split

X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, random_state=0)

## 縮放特徵

In [47]:
# 最大最小縮放　normalized
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_test_norm = mms.transform(X_test)

X_test_norm

array([[ 0.72849462,  0.16386555,  0.47849462,  0.29896907,  0.52173913,
         0.53956835,  0.74311927,  0.13461538,  0.37974684,  0.4364852 ,
         0.32478632,  0.70695971,  0.60566802],
       [ 0.47311828,  0.37394958,  0.60215054,  0.58762887,  0.45652174,
         0.13669065,  0.27217125,  0.19230769,  0.26582278,  0.90926457,
        -0.05128205,  0.07326007,  0.13603239],
       [ 0.36021505,  0.05042017,  0.43010753,  0.43298969,  0.18478261,
         0.86330935,  0.80428135,  0.09615385,  0.45886076,  0.30276982,
         0.58119658,  0.58608059,  0.08744939],
       [ 0.68010753,  0.17647059,  0.59139785,  0.51030928,  0.5       ,
         0.66906475,  0.70642202,  0.11538462,  0.64240506,  0.47468959,
         0.37606838,  0.64468864,  0.65425101],
       [ 0.54301075,  1.03151261,  0.41397849,  0.56185567,  0.17391304,
         0.54676259,  0.66666667,  0.30769231,  0.50316456,  0.1260745 ,
         0.16239316,  0.67032967,  0.05506073],
       [ 0.14247312,  0.24369748,  1.00537634,  0.92268041,  0.5326087 ,
         0.74820144,  1.40978593,  0.63461538,  0.45886076,  0.45081184,
         0.33333333,  0.88644689,  0.12388664],
       [ 0.81451613,  0.26470588,  0.67204301,  0.36082474,  0.55434783,
         0.53956835,  0.62385321,  0.32692308,  0.26265823,  0.36007641,
         0.44444444,  0.84615385,  0.79595142],
       [ 0.35752688,  0.61764706,  0.5483871 ,  0.53608247,  0.19565217,
         0.43165468,  0.13761468,  0.69230769,  0.19620253,  0.60840497,
         0.01709402,  0.11355311,  0.16842105],
       [ 0.32795699,  0.17647059,  0.40860215,  0.43298969,  0.10869565,
         0.19784173,  0.47706422,  0.44230769,  0.38291139,  0.20248329,
         0.39316239,  0.6959707 ,  0.16032389],
       [ 0.28225806,  0.19747899,  0.51612903,  0.40721649,  0.11956522,
         0.17985612,  0.31498471,  0.73076923,  0.38607595,  0.1069723 ,
         0.46153846,  0.36630037,  0.13603239],
       [ 0.62634409,  0.35084034,  0.53225806,  0.48453608,  0.20652174,
         0.10791367,  0.00917431,  0.44230769,  0.06962025,  0.41260745,
         0.13675214,  0.43956044,  0.37894737],
       [ 0.76612903,  0.87184874,  0.46774194,  0.48453608,  0.10869565,
        -0.04316547, -0.03975535,  0.5       ,  0.08227848,  0.34574976,
         0.03418803,  0.02197802,  0.08340081],
       [ 0.85215054,  0.18277311,  0.58602151,  0.2371134 ,  0.45652174,
         0.78057554,  0.89296636,  0.38461538,  0.49050633,  0.52244508,
         0.43589744,  0.57875458,  0.92145749],
       [ 0.36021505,  0.03781513,  0.39784946,  0.40721649,  0.19565217,
         0.8705036 ,  1.0030581 ,  0.19230769,  0.48417722,  0.30754537,
         0.42735043,  0.54945055,  0.28178138],
       [ 0.68548387,  0.35504202,  0.71505376,  0.71649485,  0.38043478,
         0.1618705 ,  0.11314985,  0.48076923,  0.35443038,  0.70487106,
         0.17094017,  0.19413919,  0.35465587],
       [ 0.26075269,  0.00630252,  0.34408602,  0.43298969,  0.17391304,
         0.47482014,  0.54740061,  0.30769231,  0.31962025,  0.1165234 ,
         0.71794872,  0.67765568, -0.02753036],
       [ 0.73387097,  0.13445378,  0.72043011,  0.45876289,  0.67391304,
         0.66546763,  0.6941896 ,  0.69230769,  0.2943038 ,  0.39350525,
         0.60683761,  0.63369963,  0.74736842],
       [ 0.84946237,  0.14705882,  0.60215054,  0.30412371,  0.41304348,
         0.79136691,  1.05810398,  0.34615385,  0.4556962 ,  0.7086915 ,
         0.58974359,  0.56776557,  1.10769231],
       [ 0.4327957 ,  0.0987395 ,  0.35483871,  0.31958763,  0.32608696,
         0.33093525,  0.28746177,  0.75      ,  0.06329114,  0.4269341 ,
         0.37606838,  0.11721612,  0.11174089],
       [ 0.75268817,  0.15966387,  0.66666667,  0.34020619,  0.26086957,
         0.48561151,  0.7706422 ,  0.15384615,  0.59177215,  0.41260745,
         0.5982906 ,  0.76923077,  0.77165992],
       [ 0.55913978,  0.02521008,  0.1827957 ,  0.22680412,  0.08695652,
         0.67625899,  0.82874618,  0.23076923,  0.58860759,  0.38395415,
         0.4957265 ,  0.6996337 ,  0.15384615],
       [ 0.54301075,  0.15966387,  0.63978495,  0.3814433 ,  0.30434783,
         0.48561151,  0.59938838,  0.28846154,  0.32278481,  0.28366762,
         0.4957265 ,  0.45421245,  0.64210526],
       [ 0.59408602,  0.35714286,  0.81182796,  0.53608247,  0.52173913,
         0.61151079,  0.67889908,  0.48076923,  0.44303797,  0.29035339,
         0.42735043,  0.60805861,  0.34251012],
       [ 0.39784946,  0.17647059,  0.33333333,  0.51030928,  0.16304348,
         0.39568345,  0.44342508,  0.34615385,  0.33544304,  0.15854823,
         0.42735043,  0.84249084,  0.29149798],
       [ 0.34946237,  0.04411765,  0.49462366,  0.27835052,  0.33695652,
         0.34172662,  0.18960245,  0.94230769, -0.00316456,  0.19006686,
         0.60683761,  0.14652015,  0.29797571],
       [ 0.40053763,  0.32352941,  0.43548387,  0.53608247,  0.19565217,
         0.52158273,  0.55045872,  0.23076923,  0.25316456,  0.06876791,
         0.30769231,  0.55311355,  0.01052632],
       [ 0.37634409,  0.13445378,  0.5       ,  0.56185567,  0.17391304,
         0.58992806,  0.81957187,  0.48076923,  0.42721519,  0.25405922,
         0.12820513,  0.57509158,  0.03238866],
       [ 0.30376344,  0.1512605 ,  0.51075269,  0.62886598,  0.2173913 ,
         0.24460432,  0.37308869,  0.55769231,  0.36075949,  0.11174785,
         0.67521368,  0.36263736,  0.14817814],
       [ 0.19623656,  0.37605042,  0.83870968,  0.48453608,  0.35869565,
         0.23381295,  0.47706422,  0.88461538,  0.19936709,  0.24068768,
         0.58974359,  0.45054945,  0.2388664 ],
       [ 0.73924731,  0.39285714,  0.50537634,  0.58762887,  0.2173913 ,
         0.08992806,  0.06422018,  0.51923077,  0.19303797,  0.79274117,
         0.13675214,  0.15018315,  0.24534413],
       [ 0.6344086 ,  0.18487395,  0.67741935,  0.28350515,  0.25      ,
         0.6294964 ,  0.75535168,  0.38461538,  0.32594937,  0.33619866,
         0.32478632,  0.71428571,  0.71497976],
       [ 0.85752688,  0.17016807,  0.50537634,  0.29381443,  0.52173913,
         0.75539568,  0.77370031,  0.23076923,  0.50949367,  0.48710602,
         0.34188034,  0.74725275,  0.53279352],
       [ 0.27150538,  0.71638655,  0.5483871 ,  0.58762887,  0.10869565,
         0.35971223,  0.39143731,  0.53846154,  0.2943038 ,  0.1260745 ,
         0.21367521,  0.47619048,  0.21700405],
       [ 0.85483871,  0.66176471,  0.58064516,  0.42783505,  0.44565217,
         0.6294964 ,  0.66666667,  0.30769231,  0.26265823,  0.3782235 ,
         0.28205128,  0.75457875,  0.62186235],
       [ 1.02150538,  0.15756303,  0.43548387,  0.17525773,  0.29347826,
         0.61151079,  0.7675841 ,  0.28846154,  0.49367089,  0.37440306,
         0.46153846,  0.57875458,  0.59352227],
       [ 0.54301075,  0.18487395,  0.39784946,  0.32989691,  0.40217391,
         0.68345324,  0.77370031,  0.26923077,  0.50949367,  0.3591213 ,
         0.29059829,  0.76190476,  0.46396761],
       [ 0.71505376,  0.49789916,  0.6344086 ,  0.48453608,  0.40217391,
         0.26258993,  0.02752294,  0.69230769,  0.12025316,  0.43935053,
         0.35897436,  0.2014652 ,  0.29797571],
       [ 0.44623656,  0.13445378,  0.48387097,  0.52061856,  0.10869565,
         0.10071942,  0.30275229,  0.84615385,  0.37974684,  0.16905444,
         0.35897436,  0.28937729,  0.14817814],
       [ 0.15860215,  0.23109244,  0.49462366,  0.3814433 ,  0.30434783,
         0.69064748,  0.54740061,  0.05769231,  0.2943038 ,  0.18815664,
         0.52991453,  0.61904762,  0.02672065],
       [ 0.63709677,  0.63445378,  0.60215054,  0.63917526,  0.34782609,
         0.25179856,  0.08562691,  0.55769231,  0.31329114,  0.57497612,
         0.13675214,  0.10622711,  0.35465587],
       [ 0.66397849,  0.19327731,  0.67204301,  0.48453608,  0.2826087 ,
         0.51438849,  0.65443425,  0.26923077,  0.39240506,  0.2139446 ,
         0.4957265 ,  0.93406593,  0.43157895],
       [ 0.72580645,  0.12815126,  0.72043011,  0.61340206,  0.33695652,
         0.68345324,  0.85015291,  0.28846154,  0.62025316,  0.42215855,
         0.55555556,  0.52747253,  0.78785425],
       [ 0.33870968,  0.40756303,  0.46236559,  0.3814433 ,  0.19565217,
         0.48561151,  0.54434251,  0.21153846,  0.49683544,  0.08309456,
         0.52136752,  0.74358974, -0.01781377],
       [ 0.42204301,  0.09453782,  0.29032258,  0.40721649,  0.19565217,
         0.12589928,  0.27217125,  0.28846154,  0.2943038 ,  0.11174785,
         0.42735043,  0.54945055,  0.20242915],
       [ 0.10215054, -0.03151261,  0.61290323,  0.53608247,  0.19565217,
         0.49640288,  0.47094801,  0.53846154,  0.32278481,  0.17191977,
         0.47863248,  0.38095238,  0.09878543],
       [ 0.7016129 ,  0.46428571,  0.64516129,  0.2371134 ,  0.5       ,
         0.57553957,  0.78287462,  0.05769231,  0.39240506,  0.36485196,
         0.35897436,  0.76556777,  0.43157895],
       [ 0.42204301,  0.32983193,  0.4516129 ,  0.40721649,  0.26086957,
         0.18705036,  0.05810398,  0.94230769,  0.16455696,  0.55587393,
         0.16239316,  0.11355311,  0.31012146],
       [ 0.25      ,  0.04201681,  0.50537634,  0.53608247,  0.33695652,
         0.82014388,  0.51070336, -0.01923077,  0.38924051,  0.1843362 ,
         0.38461538,  0.68131868,  0.46477733],
       [ 0.32795699,  0.62815126,  0.4516129 ,  0.40721649,  0.45652174,
         0.10071942,  0.09480122,  0.28846154,  0.2278481 ,  0.66189112,
         0.09401709,  0.26739927,  0.43967611],
       [ 0.87903226,  0.21638655,  0.7311828 ,  0.48453608,  0.54347826,
         0.61151079,  0.81651376,  0.36538462,  0.49050633,  0.46991404,
         0.45299145,  0.50549451,  0.78380567],
       [ 0.49731183,  0.44117647,  0.55913978,  0.48453608,  0.36956522,
         0.07194245,  0.2293578 ,  0.19230769,  0.12974684,  0.39350525,
         0.17094017,  0.05494505,  0.17651822],
       [ 0.66129032,  0.56722689,  0.44623656,  0.45876289,  0.19565217,
         0.18705036,  0.0030581 ,  0.84615385,  0.14556962,  0.42215855,
         0.23076923,  0.2014652 ,  0.21700405],
       [ 0.68010753,  0.17226891,  0.51075269,  0.28865979,  0.51086957,
         0.73741007,  0.86238532,  0.38461538,  0.60759494,  0.46322827,
         0.35042735,  0.77289377,  0.39109312],
       [ 0.88978495,  0.16596639,  0.72043011,  0.74226804,  0.30434783,
         0.61151079,  0.25688073,  0.75      ,  0.72151899,  1.11938873,
         0.02564103,  0.25274725,  0.28178138]])

In [46]:
# 標準化縮放　standardized
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

In [48]:
ex = pd.DataFrame([0, 1, 2, 3, 4, 5])

# standardize
ex[1] = (ex[0] - ex[0].mean()) / ex[0].std(ddof=0)

# normalize
ex[2] = (ex[0] - ex[0].min()) / (ex[0].max() - ex[0].min())
ex.columns = ['input', 'standardized', 'normalized']
ex

   input  standardized  normalized
0      0      -1.46385         0.0
1      1      -0.87831         0.2
2      2      -0.29277         0.4
3      3       0.29277         0.6
4      4       0.87831         0.8
5      5       1.46385         1.0